@import url('https://bootswatch.com/5/minty/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
